# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Jan 13 2024 21:51:30

# Family & Device:    iCE40UP5K

# Package:            SG48

# ##############################################################################

###IOSet List 1
set_io clk 4 -io_std SB_LVCMOS -pullup no

